body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Georgia, 'Times New Roman', Times, serif,
    monospace;
}


body.dark {
  background-color: #121212;
  color: #e2e2e2;
}

body.dark a {
  color: #90cdf4;
}
